<div class="page-header">
  <h1>Pet#Show</h1>
</div>

<ul class="list-unstyled list-inline">
  <li><a href="<%= petsPath() %>" class="btn btn-info">Back to all Pets</a></li>
  <li><a href="<%= editPetPath({ pet_id: pet.ID })%>" class="btn btn-warning">Edit</a></li>
  <li><a href="<%= petPath({ pet_id: pet.ID })%>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Destroy</a>
</ul>

<p>
  <strong>Name</strong>: <%= pet.Name %>
</p>
<p>
  <strong>Owner Name</strong>: <%= owner.Name %>
</p>
